.main-content {
    padding: 20px;
    flex-grow: 1;
    transition: margin-left 0.3s ease-in-out;
    text-align: right;
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    margin-top: 2rem;
    font-size: 4.5rem;
    line-height: 5rem;
    margin-right: 4rem;
    font-weight: 2rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

